[submodule "engine/external/glfw"]
	path = engine/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "engine/external/glew"]
	path = engine/external/glew
	url = https://github.com/nigels-com/glew.git
